USE [master]
GO
CREATE DATABASE [QLNhaHang]
GO
USE [QLNhaHang]
GO
CREATE TABLE [dbo].[Account](
	[UserID] [char](36) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Position] [int] NOT NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[Status] [int] NOT NULL,
	[CreatedTime] [datetime] NULL,
	[UpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [char](36) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[CreatedTime] [datetime] NULL,
	[UpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 5/12/2022 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [char](36) NOT NULL,
	[UserID] [char](36) NULL,
	[TotalPrice] [decimal](18, 0) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedTime] [datetime] NULL,
	[UpdatedTime] [datetime] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 5/12/2022 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[InvoiceDetailID] [char](36) NOT NULL,
	[InvoiceID] [char](36) NOT NULL,
	[OrderID] [char](36) NOT NULL,
 CONSTRAINT [PK_InvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 5/12/2022 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuID] [char](36) NOT NULL,
	[MenuName] [nvarchar](255) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[CategoryID] [char](36) NULL,
	[Image] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Unit] [nvarchar](255) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/12/2022 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [char](36) NOT NULL,
	[TableNumber] [int] NOT NULL,
	[TotalPrice] [decimal](18, 0) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[OrderBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/12/2022 10:44:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [char](36) NOT NULL,
	[OrderID] [char](36) NOT NULL,
	[MenuID] [char](36) NOT NULL,
	[Amount] [int] NOT NULL,
	[Price] [decimal](18, 0) NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserID], [UserName], [Password], [FullName], [Position], [Email], [PhoneNumber], [Status], [CreatedTime], [UpdatedTime]) VALUES (N'19f46d7e-939a-4317-80a9-5cc4508b9eda', N'nhanvienphucvu', N'phanvien123', N'Đào Hải Long', 1, N'longhaidao@gmail.com', N'0973921043', 6, CAST(N'2022-05-01T02:07:19.950' AS DateTime), NULL)
INSERT [dbo].[Account] ([UserID], [UserName], [Password], [FullName], [Position], [Email], [PhoneNumber], [Status], [CreatedTime], [UpdatedTime]) VALUES (N'1ef8883e-9591-412e-9851-75b98fb00009', N'trung8proplayer', N'trung123abc', N'Hoàng Văn Trung', 1, N'trung0912@gmail.com', N'0972382256', 6, CAST(N'2022-04-06T00:52:47.340' AS DateTime), CAST(N'2022-05-02T16:04:10.933' AS DateTime))
INSERT [dbo].[Account] ([UserID], [UserName], [Password], [FullName], [Position], [Email], [PhoneNumber], [Status], [CreatedTime], [UpdatedTime]) VALUES (N'3cea5acd-c397-4935-b8bc-0e42de0bd09f', N'nhanvien2022', N'nhanvien123', N'Ngụy Minh Thắng', 1, N'thangnguyminh123@gmail.com', N'0973183900', 6, CAST(N'2022-05-01T01:46:01.437' AS DateTime), CAST(N'2022-05-02T16:04:31.077' AS DateTime))
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CreatedTime], [UpdatedTime]) VALUES (N'58e4a174-62f1-4266-b274-254307f60eca', N'Khác', CAST(N'2022-04-22T17:16:59.627' AS DateTime), NULL)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CreatedTime], [UpdatedTime]) VALUES (N'72cfaf5b-caaa-40d4-8d84-caddd0807936', N'Combo', CAST(N'2022-04-21T17:16:53.550' AS DateTime), NULL)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CreatedTime], [UpdatedTime]) VALUES (N'9394E1FA-AAC9-4719-96F3-600FE5C04A7F', N'Đồ ăn', CAST(N'2022-04-18T17:17:53.550' AS DateTime), NULL)
GO
INSERT [dbo].[Invoice] ([InvoiceID], [UserID], [TotalPrice], [Status], [CreatedTime], [UpdatedTime]) VALUES (N'2ab23279-50d5-4bcd-a316-baa16c04bcef', N'8a556beb-547b-4578-a613-1c6d2d012847', CAST(4211000 AS Decimal(18, 0)), 5, CAST(N'2022-05-09T16:53:52.887' AS DateTime), NULL)
INSERT [dbo].[Invoice] ([InvoiceID], [UserID], [TotalPrice], [Status], [CreatedTime], [UpdatedTime]) VALUES (N'5eb316ce-b1bb-4e43-b4fd-8378fb77c6ce', N'8a556beb-547b-4578-a613-1c6d2d012847', CAST(1587000 AS Decimal(18, 0)), 5, CAST(N'2022-05-03T17:48:30.690' AS DateTime), NULL)
INSERT [dbo].[Invoice] ([InvoiceID], [UserID], [TotalPrice], [Status], [CreatedTime], [UpdatedTime]) VALUES (N'6f324119-6acb-4b7b-b969-fafdaa494c04', N'8a556beb-547b-4578-a613-1c6d2d012847', CAST(3139000 AS Decimal(18, 0)), 5, CAST(N'2022-05-09T16:52:21.700' AS DateTime), NULL)
GO
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailID], [InvoiceID], [OrderID]) VALUES (N'049b7718-6a2e-4305-976f-aac3904c700e', N'5eb316ce-b1bb-4e43-b4fd-8378fb77c6ce', N'a89a6cf5-b834-4359-aea4-8416eb589a43')
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailID], [InvoiceID], [OrderID]) VALUES (N'14f12efd-fe21-45a9-bd89-d2a704ed834e', N'2ab23279-50d5-4bcd-a316-baa16c04bcef', N'302e883e-4148-4b18-bcad-a5a2bde0dfda')
INSERT [dbo].[InvoiceDetail] ([InvoiceDetailID], [InvoiceID], [OrderID]) VALUES (N'2e30f161-86d2-47f6-98ec-51aafc7f8e43', N'9963a588-ebb1-4009-9fbf-30748f8a7341', N'b0191811-8d3e-43f6-a0fc-f6ef66b0381b')
GO
INSERT [dbo].[Menu] ([MenuID], [MenuName], [Price], [CategoryID], [Image], [Description], [CreatedTime], [UpdateTime], [Unit]) VALUES (N'017a499c-1f7c-4f6e-9f9c-39c996e79240', N'Nước chanh', CAST(45000 AS Decimal(18, 0)), N'A39E3553-163A-4246-B9EF-544E82030D2A', N'http://res.cloudinary.com/dfmk60ird/image/upload/v1650296798/nvlkpls6rldzz0sid7kw.jpg', NULL, CAST(N'2022-04-18T22:46:35.560' AS DateTime), NULL, N'Cốc')
INSERT [dbo].[Menu] ([MenuID], [MenuName], [Price], [CategoryID], [Image], [Description], [CreatedTime], [UpdateTime], [Unit]) VALUES (N'076d40c7-abe5-4dbd-8b35-e6fa9f577ce5', N'Coca Cola', CAST(20000 AS Decimal(18, 0)), N'A39E3553-163A-4246-B9EF-544E82030D2A', N'http://res.cloudinary.com/dfmk60ird/image/upload/v1650297317/pkpszzmekpkdiwa6pmm5.jpg', NULL, CAST(N'2022-04-18T22:55:09.430' AS DateTime), NULL, N'Lon')
INSERT [dbo].[Menu] ([MenuID], [MenuName], [Price], [CategoryID], [Image], [Description], [CreatedTime], [UpdateTime], [Unit]) VALUES (N'07828373-44b9-45e5-b51a-b757e8c39321', N'Kem trái cây', CAST(89000 AS Decimal(18, 0)), N'd538e067-cddd-4f3f-ba12-37c7b2783c54', N'http://res.cloudinary.com/dfmk60ird/image/upload/v1650280183/ckaecv7e9f7fnmpqfji8.jpg', NULL, CAST(N'2022-04-18T18:09:33.400' AS DateTime), NULL, N'Cốc')
GO
INSERT [dbo].[Order] ([OrderID], [TableNumber], [TotalPrice], [Status], [CreatedTime], [UpdateTime], [OrderBy]) VALUES (N'008d001a-fd0c-4c0e-8f12-3e0171c4196a', 11, CAST(1364000 AS Decimal(18, 0)), 4, CAST(N'2022-05-01T17:20:21.403' AS DateTime), CAST(N'2022-05-03T17:24:20.253' AS DateTime), N'Khách hàng')
INSERT [dbo].[Order] ([OrderID], [TableNumber], [TotalPrice], [Status], [CreatedTime], [UpdateTime], [OrderBy]) VALUES (N'0a705fe8-3a1b-4c8e-a7ac-9000cf621be2', 4, CAST(338000 AS Decimal(18, 0)), 4, CAST(N'2022-05-01T01:53:37.593' AS DateTime), NULL, N'Khách hàng')
INSERT [dbo].[Order] ([OrderID], [TableNumber], [TotalPrice], [Status], [CreatedTime], [UpdateTime], [OrderBy]) VALUES (N'0b56e501-6f54-451a-8ffb-3ee1cf969740', 8, CAST(267000 AS Decimal(18, 0)), 4, CAST(N'2022-05-01T00:55:02.803' AS DateTime), NULL, N'Khách hàng')
GO
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [MenuID], [Amount], [Price], [Note]) VALUES (N'003a6b69-25cd-4731-967e-d20a93b53ce4', N'342cf498-d86c-4167-8904-6512d012066f', N'e052fc10-8365-41d8-964e-7129085066f8', 1, CAST(299000 AS Decimal(18, 0)), N'')
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [MenuID], [Amount], [Price], [Note]) VALUES (N'00ea17e2-de75-4a25-9ce7-4d376883fad4', N'4dce7c90-3ab8-4bb4-829c-243694618ff4', N'be39840d-f5c1-4904-b625-4b0e6acb8f73', 1, CAST(200000 AS Decimal(18, 0)), N'')
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [MenuID], [Amount], [Price], [Note]) VALUES (N'01e5d2e1-f6bb-4caa-b166-7a365a1d8c2f', N'f065164c-a20a-4165-a975-461d1b40e288', N'f355cf36-4185-4f2a-b9a7-7fa1f99c0f13', 1, CAST(89000 AS Decimal(18, 0)), N'')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__C9F28456788A47DA]    Script Date: 5/12/2022 10:44:58 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__8517B2E047691B32]    Script Date: 5/12/2022 10:44:58 PM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Menu__B42383E4E44C6635]    Script Date: 5/12/2022 10:44:58 PM ******/
ALTER TABLE [dbo].[Menu] ADD UNIQUE NONCLUSTERED 
(
	[MenuName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([UserID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Account]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Invoice1] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Invoice1]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Order]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_Category]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Menu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[Menu] ([MenuID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Menu]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
USE [master]
GO
